extends ../components/main-layout

block content
    section
        h1(class="header-text--centered") Odebrat obor
        include ../components/errors
        
        form(action="/field-delete", method="post" name="fieldDelete")
            div(class="form-container")
                h2(class="header-text--centered header-text--margin-10") Základní informace o oboru
            
                label(for="field") Zkratka:
                input(class="input--smaller" type="text" name="field" id="field" disabled value=fieldInfo.idField)
                
                label(for="fieldName") Název:
                input(type="text" name="fieldName" id="fieldName" disabled value=fieldInfo.fieldName)
                    
                
                label(for="fieldType") Studium:
                select(name="fieldType" id="fieldType" disabled)
                    option(value="BC" selected=(fieldInfo.fieldType ==="BC")) Bakalářské
                    option(value="MGR" selected=(fieldInfo.fieldType ==="MGR")) Magisterské
                    option(value="PHD" selected=(fieldInfo.fieldType ==="PHD")) Doktorské
                
                label(for="pageURL") URL stránky s oborem:
                input(type="url" name="pageURL" id="pageURL" disabled value=fieldInfo.pageURL)
            
                label(class="optional-input" for="fieldIcon") URL zobrazované ikony:
                input(type="url" name="fieldIcon" id="fieldIcon" disabled value=fieldInfo.icon)

                label(for="kombi") Lze studovat kombinovanou formou?    
                input(type="checkbox" name="kombi" id="kombi" disabled checked=(fieldInfo.canCombi === 1))
                        
                                    
            div(class="form-container")
                h2(class="header-text--centered header-text--margin-10") Popisy
                    
                label(for="mainDescription") Obecný popis:                       
                textarea(id="mainDescription" name="mainDescription" disabled) #{fieldInfo.mainDescription}
                
                label(for="applicationDescription") Popis uplatnění absolventa:                       
                textarea(id="applicationDescription" name="applicationDescription" disabled) #{fieldInfo.applicationDescription}
            
                label(for="studiesDescription") Popis studijního programu:                       
                textarea(id="studiesDescription" name="studiesDescription" disabled) #{fieldInfo.studiesDescription}
            
                label(for="suitableFor") Vhodné pro:                       
                textarea(id="suitableFor" name="suitableFor" disabled) #{fieldInfo.suitableFor}
                
            div(class="container--flex container--centered")
                button(class="button button--box-small content--small-button form-button" type="submit" name="fieldDeleteBtn") Odebrat               
                a(class="button button--box-small content--small-button form-button" href="/obory") Zrušit