extends ../components/main-layout


block content
    - var chosenIntent = (faq === undefined ? -1 : faq.intent);
    if(chosenIntent !== -1)
        - var text = (faq.textAnswer !== null);
        - var url = (faq.urlAnswer !== null);
        - var img = (faq.imageAnswer !== null);
        - var video = (faq.videoAnswer !== null);
        - var chosenContext = (chatbot !== null ? chatbot.specification : null);
        - var chosenTopic = (chatbot !== null ? chatbot.topicName : null);
    section
        h1(class="header-text--centered") Upravit odpověď na otázku z FAQ
        include ../components/errors
        
        form(action="/update-FAQ", method="post" name="updateFAQ")
            div(class="form-container")
                h2(class="header-text--centered header-text--margin-10") Údaje o otázce

                label(for="intent") Zkratka otázky:
                input(type="text" name="intent" id="intent" value=faq.intent disabled)

                label(for="question") Znění výchozí otázky:
                textarea(name="question" id="question" required) #{faq.question}

                label(for="answerInTree") Odkazuje na existující odpověď?
                input(type="checkbox" id="answerInTree" name="answerInTree" checked=(faq.answerInTree === 1) onclick="toggleFAQforms(this.id)")

            div(class="form-container select-style hidden--block" id="existingAnswer")
                h2(class="header-text--centered header-text--margin-10") Odkazovaná odpověď
                label(for="topicSelect") Téma odpovědi:
                select(name="topicSelect" id="topicSelect" onchange="showSecondSelect()" required)
                    option(value="" hidden) --VYBERTE TÉMA--
                    each topic in topics
                        option(value= topic.topicName selected=(topic.topicName === chosenTopic)) #{topic.topicName}
                label(for="contextSelect") Kontext odpovědi:
                select(name="contextSelect" id="contextSelect" required)
                    option(value="" hidden) --VYBERTE KONTEXT--   
                    each topic in topics
                        optgroup(label= topic.topicName disabled=(topic.topicName !== chosenTopic) hidden=(topic.topicName !== chosenTopic))
                            each context in contexts
                                if topic.idTopic === context.idTopic
                                    option(value= context.specification selected=(context.specification === chosenContext)) #{context.specification}  

            div(class="form-container hidden--block" id="newAnswer")
                h2(class="header-text--centered header-text--margin-10") Odpověď na otázku
                label Typ odpovědi:
                ul(class="container--flex container--centered container--border")
                    li(class="form-container--list-item")
                        label(for="text") Text
                        input(type="radio" name="answerType" id="text" value="Text" required checked=text onclick="switchInputs(this.value)")
                    li(class="form-container--list-item")
                        label(for="text-url") Text s odkazem
                        input(type="radio" name="answerType" id="text-url" value="TextURL" checked=url onclick="switchInputs(this.value)" )
                    li(class="form-container--list-item")
                        label(for="image") Obrázek
                        input(type="radio" name="answerType" id="image" value="Obrázek" checked=img onclick="switchInputs(this.value)") 
                    li(class="form-container--list-item")
                        label(for="video") Video
                        input(type="radio" name="answerType" id="video" value="Video" checked=video onclick="switchInputs(this.value)")
                                                
                label(for="textAnswer") Textová odpověď:
                textarea(id="textAnswer" name="textAnswer" spellcheck=true disabled=(text || url ? false : true)) #{faq.textAnswer}

                label(for="urlAnswer") Odkaz k textu:
                input(type="url" id="urlAnswer" name="urlAnswer" value=faq.answerURL disabled=!url)

                label(for="imageAnswer") URL obrázku (max. 25MB):
                input(type="url" id="imageAnswer" name="imageAnswer" value=faq.answerImage disabled=!img)

                label(for="videoAnswer") URL videa (max. 25MB):
                input(type="url" id="videoAnswer" name="videoAnswer" value=faq.answerVideo disabled=!video)

            div(class="container--flex container--centered")
                button(class="button button--box-small content--small-button form-button" type="submit" name="updateBtn") Uložit               
                a(class="button button--box-small content--small-button form-button" href="/FAQ") Zrušit
                    
block scripts
    script(src="/javascripts/disable-unused-inputs.js")
    script(src="/javascripts/selects-toggles.js")
    script(src="/javascripts/FAQ-form-toggles.js")